.container {
	display: grid;
	width: 100%;
	border: 3px solid;
	background-image: url("pattern2.jpg");
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
}

.header {
	background-color: #2D1975;
	grid-area: 1 / 1 / span 1 / span 5;
	height: 250px;
	display: grid;
	grid-template-columns: 25% 65%;

}
.logo {
	width: 10em;
	height: 10em;
	border: 1px solid purple;
	justify-self: center;
	align-self: center;
}

.title {
	width: 60em;
	height: 10em;
	border: 1px solid peru;
	justify-self: center;
	align-self: center;
}

.box3 {
	grid-area: 2 / 2 / span 2 / span 1;
	width: 100%;
	height: 95%;
	border: 3px solid;
	justify-self: center;
	margin-top: 25%;
}

.box4 {
	grid-area: 2 / 3 / span 1 / span 2;
	width: 118%;
	height: 88%;
	border: 3px solid;
	justify-self: center;
	margin-top: 12%;
	margin-left: 27%;
}

.box5 {
	grid-area: 3 / 3 / span 1 / span 2;
	width: 118%;
	height: 91%;
	border: 3px solid;
	justify-self: center;
	margin-top: 12%;
	margin-left: 27%;
}

.box6 {
	grid-area: 4 / 2 / span 1 / span 2;
	width: 100%;
	height: 100%;
	border: 3px solid;
	justify-self: center;
	margin-top: 30%;
}

.TVbox {
	grid-area: 5 / 4 / span 1 / span 1;
	width: 100%;
	height: 100%;
	border: 3px solid;
	justify-self: center;
	align-self: center;
	/* margin-top: 10%; */
	margin-left: 90%;
}

.screen {
	grid-area: 5 / 4 / span 1 / span 1;
	width: 80%;
	height: 90%;
	border-radius: 20px;
	border: 3px solid;
	justify-self: center;
	align-self: center;
	/* margin-top: 10%; */
	margin-left: 90%;
}

.bookCase {
	grid-area: 6 / 3 / span 4 / span 2;
	width: 180%;
	height: 100%;
	border: 3px solid;
	justify-self: center;
	margin-top: 10%;
	margin-right: 22%;
}

.shelf1 {
	grid-area: 2 / 4 / span 1 / span 2;
	width: 100%;
	height: 25%;
	border: 3px solid;
	justify-self: center;
}
.shelf2 {
	grid-area: 3 / 4 / span 1 / span 2;
	width: 100%;
	height: 25%;
	border: 3px solid;
	justify-self: center;
}

.shelf3 {
	grid-area: 4 / 4 / span 1 / span 2;
	width: 100%;
	height: 25%;
	border: 3px solid;
	justify-self: center;
}

.shelf4 {
	grid-area: 5 / 4 / span 1 / span 2;
	width: 100%;
	height: 25%;
	border: 3px solid;
	justify-self: center;
}

@media screen and (max-width: 60em) {
	.container {
		grid-auto-rows: minmax(30rem, auto);
	}

	.header {
		background-color: #2D1975;
		grid-area: 1 / 1 / span 1 / span 5;
		height: 250px;
		display: grid;
		grid-template-columns: 25% 65%;

	}
	.logo {
		width: 30%;
		height: 30%;
		border: 3px solid purple;
		justify-self: center;
		align-self: center;
	}

	.title {
		width: 60%;
		height: 40%;
		border: 3px solid peru;
		justify-self: center;
		align-self: center;
	}

	.p1 {
		grid-area: 2 / 1 / span 2 / span 5;
		background-color: red;
		width: 90%;
		height: 100%;
		border: 5px solid red;
		justify-self: center;
	}

	.box3 {
	display: none;
	}

	.box4 {
		display: none;
	}

	.box5 {
		grid-area: 4 / 1 / span 1 / span 5;background-color: seagreen;
		width: 90%;
		height: 100%;
		border: 3px solid;
		justify-self: center;
		margin-top: 10%;
		margin-left: 0;
	}

	.box6 {
		display: none;
	}

	.TVbox {
		grid-area: 5 / 1 / span 1 / span 5;
		width: 85%;
		height: 100%;
		border: 5px dashed red;
		justify-self: center;
		margin-top: 25%;
		margin-left: 0;
	}

	.screen {
		display: none;
	}

	.bookCase {
		grid-area: 6 / 1 / span 1 / span 5;
		width: 90%;
		height: 100%;
		border: 3px solid;
		margin-top: 0;
		margin-right: 0;
		display: grid;
		grid-template-rows: 25% 25% 25% 25%;
	}

	.shelf1 {
		width: 100%;
		height: 100%;
		border: 3px solid;
		justify-self: center;
	}

	.shelf2 {
		width: 100%;
		height: 10%;
		border: 3px solid;
		justify-self: center;
	}

	.shelf3 {
		width: 100%;
		height: 10%;
		border: 3px solid;
		justify-self: center;
	}

	.shelf4 {
		width: 100%;
		height: 10%;
		border: 3px solid;
		justify-self: center;
	}
}